*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  margin: 0;
}

section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}



#videoFile {
    display: inline-block;
}

.timing-labels {
  text-align: center;
}

#currentTime {
    font-size:40px;
}



#videoPlayer {
    display: block;
    margin-top: 0;
    width: 100%;
    height: 40vh;
    background: black;
    flex-grow: 1;
}

.controls {
    flex-grow: 1;
}

#speedControls {
    margin-top: 10px;
}

.speedButton {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

#spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.buttons {
    display: flex;
}

#seekSlider {
    height: 45px; /* Larger height for easier grip */
    -webkit-appearance: none; /* Override default appearance */
    width: 100%; /* Full-width slider */
    margin: 10px 0; /* Some space above and below */
  }

  #seekSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 90px; /* Large thumb for easy grip */
    height: 90px; /* Same as width */
  }

  #seekSlider {
    height: 50px;
  }
  #seekSlider::-moz-range-thumb {
    width: 60px; /* Large thumb for easy grip */
    height: 60px; /* Same as width */
    border-radius: 100px;
    background: #4CAF50; /* Green color */
    cursor: pointer; /* Indicate it's draggable */
  }

  #seekSlider::-webkit-slider-thumb {
    width: 60px; /* Large thumb for easy grip */
    height: 60px; /* Same as width */
    border-radius: 100px;
    background: #4CAF50; /* Green color */
    cursor: pointer; /* Indicate it's draggable */

  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #e2e6ea;
  }

  #timeInput { /* Assuming 'timeInput' is your search box id */
    height: 60px; /* Double the default height or set as needed */
    font-size: 20px; /* Increase font size for better readability */
    padding: 10px 20px; /* Adjust padding to match the height */
    width: 100%;
  }