section {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#videoFile {
    display: inline-block;
}

#currentTime {
    font-size:40px;
}

#videoPlayer {
    display: block;
    margin-top: 0;
    width: auto;
    height: 300px;
    background: black;
}

#speedControls {
    margin-top: 10px;
}

.speedButton {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.buttons {
    display: flex;
}

#seekSlider {
    height: 25px; /* Larger height for easier grip */
    -webkit-appearance: none; /* Override default appearance */
    width: 100%; /* Full-width slider */
    margin: 10px 0; /* Some space above and below */
  }

  #seekSlider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 35px; /* Large thumb for easy grip */
    height: 35px; /* Same as width */
    background: #4CAF50; /* Green color */
    cursor: pointer; /* Indicate it's draggable */
  }

  #seekSlider::-moz-range-thumb {
    width: 35px; /* Large thumb for easy grip */
    height: 35px; /* Same as width */
    background: #4CAF50; /* Green color */
    cursor: pointer; /* Indicate it's draggable */
    border-radius: 100px;
  }

  #seekSlider {
    height: 100px;
  }
  #seekSlider::-moz-range-thumb {
    width: 90px; /* Large thumb for easy grip */
    height: 90px; /* Same as width */
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #e2e6ea;
  }